/target
/target/
**/target/
*.class
# Exception for Gradle wrapper
!gradle-wrapper.jar
*.jar
*.aar
*.apk
*.dex
*.o
*.o.d
*.a
*.so
*.dylib
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.log
*.bin
*.dat
*.pyc
*.pyo
.DS_Store
*.swp
*~
.#*
*.iml
.idea/
.gradle/
local.properties
*.keystore
*.jks
*.p12
*.pem
.env
.env.*
